body {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

@media (max-width: 706px) {
  #query-perjalanan {
    /* width: 150%; */
  }
}

@media (max-width: 432px) {
  #content-head-timeline {
    display: block;
  }
}

@media (max-width: 430px) {
  #query-text {
    margin-right: 10px;
  }
}

@media screen and (max-width: 423px) {
  #content-head-about {
    margin-right: 70px;
  }
}

@media screen and (max-width: 451px) {
  #content-head-about {
    position: relative;
    right: auto;
  }
}

/* element perjalanan dan puncak yang sudah didaki */
@media (max-width: 411px) {
  #element-perjalanan {
    font-size: 11px;
    margin-top: 7px;
  }
  #element-puncak {
    font-size: 19px;
    margin-top: 7px;
  }
}
@media (max-width: 410px) {
  #query-perjalanan {
    display: inline;
  }
}

#content-hero {
  animation: contentHero 15s linear infinite;
  transition: 1s;
}

@keyframes contentHero {
  from {
    transform: translateX(80vw);
  }
  to {
    transform: translateX(-100%);
  }
}

#gambar-footer {
  animation: gambarFooter 25s linear infinite;
}

#query-header {
  animation: queryHeader 25s linear infinite;
}

@keyframes queryHeader {
  to {
    background-image: url(/pictures/hutan-4-background.jpg);
  }
}

@keyframes gambarFooter {
  0% {
    background-image: url(/pictures/footer-bg-6.jpg);
  }

  25% {
    background-image: url(/pictures/footer-bg-1.jpg);
  }

  50% {
    background-image: url(/pictures/footer-bg-2.jpg);
  }

  75% {
    background-image: url(/pictures/footer-bg-4.jpg);
  }

  100% {
    background-image: url(/pictures/footer-bg-5.jpg);
  }
}
